<div class="col-sm-3 blog-main">


this is functioning code for instagram, but it is finicky for some reason...
below here <br>
<div class = "flickr text-center">
<% @instagram.values.to_a[2].each do |insta| %>
<div class = "frame">
<img src="<%= insta.to_a[9][1].to_a[0][1].to_a[0][1] %>"><br>
</div>
<% end %>
</div>

<div class = "flickr text-center">
<% @instagram2.values.to_a[2].each do |insta| %>
<div class = "frame">
<img src="<%= insta.to_a[9][1].to_a[0][1].to_a[0][1] %>"><br>
</div>
<% end %>
</div>



<% @megagram.each do |mega| %>
<% mega.to_a[2][1].each do |m| %>
<% jam = m.values[9]["low_resolution"] %><br><br>
<%= jam %>
<% end %>
<% end %>




<div class = "flickr text-center">
<% @instagram["data"].each do |insta| %>
<div class = "frame">
<img src="<%= insta["images"]["low_resolution"]["url"] %>"><br>
</div>
<% end %>
</div>

<div class = "flickr text-center">
<% @instagram2["data"].each do |insta| %>
<div class = "frame">
<img src="<%= insta["images"]["low_resolution"]["url"] %>"><br>
</div>
<% end %>
</div>



  <!-- notice that i'm iterating through fb.entries and not fb as i would normally -->
  <div class="fb">

    <!-- https://graph.facebook.com/v2.2/thebeardclub
     CAACEdEose0cBAG25ezH0S5ZAibIaZANqx23Jphx8PBpz8vv7qYHncvuXZBGTa6ZAZCndDBRWGOrI8YGyLvP795jwqXOwi8Qk2MMNopcZBs2GNfTZALjnN13wnQXSLWaOgZCnX0CEQQxcVs32rcKCOOXBRA1MoTrn9c9ktZBhZCZA6ZAqvCatpDrijuXehJbkYwI5gInA3J3tpWVPNcbp8QFsrO4NgCRGHZBFCZCxcZD -->
     <!--
    {
      "id": "218130979387",
      "about": "Website:\nhttp://www.TheBeardClub.com\n\nEmail: \ninfo@thebeardclub.com\n\nFacebook Group:\nhttp://www.facebook.com/group.php?gid=40875547144",
      "can_post": true,
      "category": "Website",
      "checkins": 0,
      "company_overview": "We like facial hair.  More importantly, we don’t think beards and moustaches are just a fad.  Beards are natural.  People have been hairy for thousands of years.  We have a hunch that people will continue to be hairy for many years to come.\n\nThere is a big fuzzy universe out there, and we’d like to make it a little more accessible.  We’re feeding from and linking to a huge collection of great websites.\n\nMost of the content on this site is coming from other sites.  We always credit the original author and link back to the original post.  Please be aware that we set a character limit on each post, meaning that if you’d like to read full articles, you need to go to the source.  It is always a good idea to visit the original site.",
      "cover": {
        "cover_id": "10150782878719388",
        "offset_x": 0,
        "offset_y": 29,
        "source": "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/p180x540/460511_10150782878719388_384129364_o.jpg",
        "id": "10150782878719388"
      },
      "founded": "2008",
      "has_added_app": false,
      "is_community_page": false,
      "is_published": true,
      "likes": 4056,
      "link": "https://www.facebook.com/TheBeardClub",
      "mission": "Our aim is to foster creativity and good nature to better our communities.  The Beard Club wants to bring like-minded people together and celebrate our fondness of facial hair, a vehicle of self-expression, confidence, function and charm.\n\nIn 2009, we sponsored runners raising funds for The Arthritis Foundation and The Leukemia & Lymphoma Society.\n\nIn 2010, we sponsored a very special young man who walked to raise funds for The Down Syndrome Association of Middle Tennessee.\n\nSome quick easy ways to show your support:\n\nUpload an image to the Wall of Beard.\nSend us links to beard-centric sites we may have missed.\nVisit our friends’ sites.\nBuy merchandise.\nGrow a beard or moustache.\nTell your friends.",
      "name": "The Beard Club",
      "parking": {
        "lot": 0,
        "street": 0,
        "valet": 0
      },
      "talking_about_count": 49,
      "username": "TheBeardClub",
      "website": "www.TheBeardClub.com",
      "were_here_count": 0
    }






    GET /{user-id}/accounts

    {
      "data": [
      {
        "category": "Product/service",
        "name": "Sample Page",
        "access_token": "{access-token}",
        "id": "1234567890",
        "perms": [
        "ADMINISTER",
        "EDIT_PROFILE",
        "CREATE_CONTENT",
        "MODERATE_CONTENT",
        "CREATE_ADS",
        "BASIC_ADMIN"
        ]
      },
    } -->





    <br><br><br><br><br><br><br><br><br>





    <!-- <entry>
      <title><![CDATA[Sample Page uploaded a photo.]]></title>
      <id>http://www.facebook.com/photo.php?pid=1111&amp;id=1111</id>
      <fb:id>1111</fb:id>
      <link rel="alternate" type="text/html" href="http://www.facebook.com/photo.php?pid=1111&amp;id=1111" />
      <published>2013-04-13T00:01:23-07:00</published>
      <updated>2013-04-13T00:01:23-07:00</updated>
      <author>
        <name>Sample Page</name>
        <fb:id>1111</fb:id>
        <uri>http://www.facebook.com/profile.php?id=1111</uri>
        <permanent_uri>http://www.facebook.com/profile.php?id=1111</permanent_uri>
        <display_uri>http://www.facebook.com/samplepage</display_uri>
        <icon>http://profile.ak.fbcdn.net/hprofile-ak-snc6/1111_q.jpg</icon>
        <is_page>1</is_page>
        <fan_count>331</fan_count>
      </author>
      <category term="Upload Photos" label="Upload Photos" />
      <activity:verb>http://activitystrea.ms/schema/1.0/post/</activity:verb>
      <activity:object>
      <id>http://www.facebook.com/photo.php?pid=1111&amp;id=1111</id>
      <thumbnail>https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-prn1/1111_t.png</thumbnail>
      <link rel="enclosure" type="text/jpeg" href="https://fbcdn-photos-c-a-.akamaihd.net/hphotos-ak-ash4/1111111_t.jpg" />
      <caption>This is an awesome photo.</caption>
      <published>2013-04-13T00:01:23-07:00</published>
      <link rel="alternate" type="text/html" href="http://www.facebook.com/photo.php?pid=1111&amp;id=1111" />
      <link rel="preview" type="image/png" href="https://fbcdn-photos-a-a.akamaihd.net/hphotos-ak-prn1/1111_t.png" />
      <activity:object-type>
      http://activitystrea.ms/schema/1.0/photo/
    </activity:object-type>
  </activity:object>
</entry> -->


    <!-- <?xml version="1.0" encoding="utf-8"?>
    <feed xmlns="http://www.w3.org/2005/Atom" xmlns:activity="http://activitystrea.ms/spec/1.0/" xmlns:fb="http://www.facebook.com" xmlns:access="http://www.bloglines.com/about/specs/fac-1.0" xmlns:og="http://ogp.me/ns#">
      <access:restriction relationship="deny" />
      <id>http://www.facebook.com/activitystreams/global.php</id>
      <generator uri="http://www.facebook.com/">Facebook Syndication</generator>
      <title>Global Activity Stream</title>
      <link href="http://www.facebook.com/activitystreams/global.php" />
      <link rel="self" href="http://facebook.com/" />
      <updated>2013-09-06T12:42:50-07:00</updated>
      <icon>http://www.facebook.com/favicon.ico</icon>
      <logo>http://profile.ak.fbcdn.net/static-ak/rsrc.php/v2/yL/r/HsTZSDw4avx.gif</logo>

      <entry></entry>
      <entry></entry>
      ...

    </feed> -->















<!-- THIS SHIT WORKS!  DO NOT DELETE IT! -->
  <% @facebook.each do |fb| %>
    <% fb.entries.each do |sm| %>
      <h3><%= link_to sm.last_modified.strftime("%b %d, %Y"), sm.url, target: "_blank" %></h3><br>
      <p><%= sm.summary.to_s.html_safe %></p><br>
      <%= sm.author %> <br>
     <%= sm.entries[5][1] %><br>   <!--YOU CAN PICK ANY ELEMENT BY CALLING ARRAY THEN ARRAY AGAIN -->

      <br>
    <% end %>
  <% end %>

  </div>



</div>
