


<div id="wrapper">
	<div id="columns">

  <% @smedia.each do |facebook| %>
    <% facebook['data'].each do |fbook| %>
      <% if fbook['message'] %>
          <div class = "pin">
            <h4><a href="https://www.facebook.com/<%= fbook['from']['id'] %>" target="_blank">
              <%= fbook['from']['name'] %></a></h4>
            <% if fbook['picture'] %>
              <center>
                <a href="<%= fbook['link'] %>" target="_blank">
                  <img src = "<%= fbook['picture'] %>">
                </a>
              </center>
            <% end %>
            <% if fbook['description'] %>
              <div class = "description">
              <em><%= fbook['description'] %></em><br>
              </div>
            <% end %>
            <% if fbook['message'] %>
              <%= fbook['message'] %><br>
            <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  </div>
</div>

<!-- ###about to jump into 'picture' as string and delete 130x130 -->
