
<iframe width="640" height="360" src=" https://www.youtube.com/embed/ZzBV5Tzf5BM " frameborder="0" allowfullscreen></iframe>
<!-- note that the code above is tagged 'embed' but the code on html is tagged 'watch?v='
that's why shit isn't working.  the video ids are the same, so grab onl the id and adhere
it to the embed code ala line 13 -->


<div class="videos">
<% @videos.values.each do |video| %>
  <% video.each do |vid| %>
<!-- <a href="<%= vid.values[17] %>">THIS IS A LINK</a> -->
<!-- <%= vid.values[17] %><br> -->
<!-- <iframe width="640" height="360" src="<%= vid.values[17] %>" frameborder="0" allowfullscreen></iframe> -->
<br>
<%= vid.values[17] %><br>
<%= vid.values[25][2].values[1].to_s.html_safe %>



<% end %>
<% end %>




</div>
