<div class="videos">
  <div class = "left">
      <% vid = @foo[0] %>
      <div class = "video-frame">
      <% if vid["source_url"].to_s.length > 31 %>
        <iframe name="vframe" width="640" height="360"
          src="https://www.youtube.com/embed/<%= vid["source_url"].to_s[32..60] %>"
          frameborder="0" allowfullscreen></iframe>
        <br>
      <% else %>
        <iframe name="vframe" src="//player.vimeo.com/video/<%= vid["source_url"].to_s[18..50] %>"
          width="640" height="360" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <% end %>
  </div>

  <div class = "right">
    <% vid = @foo[0..2] %>
    <% vid.each do |v| %>
      <% if v["source_url"].to_s.length > 31 %>
        <a href="https://www.youtube.com/embed/<%= v["source_url"].to_s[32..60] %>?autoplay=1" target="vframe">
          <div class = "video-feat" >
            <img src="<%= v['thumbnail_url'] %>">
            <div class = "video-feat-text">
              <p> <%= v['caption'].html_safe %></p>
            </div>
           </div>
        </a>
      <% else %>
        <a href="//player.vimeo.com/video/<%= v["source_url"].to_s[18..50] %>?autoplay=1" target="vframe">
          <div class = "video-feat-vimeo" >
            <img src="<%= v['thumbnail_url'] %>">
            <div class = "video-feat-text">
              <p> <%= v['caption'].html_safe %></p>
            </div>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>

  <div class = "videos">
    <% if @foo[3..8] %>
      <% vid = @foo[3..8] %>
      <% vid.each do |v| %>
      <% if v["source_url"].to_s.length > 31 %>

        <a href="https://www.youtube.com/embed/<%= v["source_url"].to_s[32..60] %>?autoplay=1" target="vframe">
          <div class = "video-thumb" %>
            <img src="<%= v['thumbnail_url'] %>">
          </div>
        </a>
        <% else %>
          <div class = "video-thumb-vimeo" >
          <a href="//player.vimeo.com/video/<%= v["source_url"].to_s[18..50] %>?autoplay=1" target="vframe">
              <img src="<%= v['thumbnail_url'] %>">
          </a>
        </div>
      <% end %>
      <% end %>
    <% end %>
  </div>

</div>

<center>
  <%= paginate @foo %>
</center>
