
<iframe width="640" height="360" src=" https://www.youtube.com/embed/ZzBV5Tzf5BM " frameborder="0" allowfullscreen></iframe>


<div class="videos">
<% @videos.values.each do |video| %>
  <% video.each do |vid| %>
<!-- <a href="<%= vid.values[17] %>">THIS IS A LINK</a> -->
<!-- <%= vid.values[17] %><br> -->
<!-- <iframe width="640" height="360" src="<%= vid.values[17] %>" frameborder="0" allowfullscreen></iframe> -->
<br>
<%= vid.values[17] %><br>
<%= vid.values[25][2].values[1].to_s.html_safe %>



<% end %>
<% end %>




</div>
