WOB
<br><br><br><br>

below here <br>
<%= @instagram.class %>


<!--
      <div class = "flickr text-center">
        <% @flickr.each do |photo| %>
        <% photo.entries.each do |pic| %>
        <div class = "frame"> -->
          <!-- <%= pic.entries[2][1] %>
          <%= pic.entries[2][1].to_s.html_safe %>
        </div>
        <% end %>
        <% end %>
      </div> -->












<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
instagram

!!!!!!!!!!!!!!! THIS TRETURNS RESULTS!!!
https://api.instagram.com/v1/tags/beard/media/recent?access_token=43415997.30a5aa1.d9970cb87c154a77bc5745c030754a80


<%= @wob %> INSTANCE VARIABLE

<%= @wob %>

  <br><br><br><br><br><br>

  CLIENT ID	30a5aa19e0a2474b902dfe674681c669
  CLIENT SECRET	767b36e92d08450e8b011e64aeceb8fc
  WEBSITE URL	http://www.thebeardclub.com
  REDIRECT URI	http://www.thebeardclub.com


  <br><br><br><br><br><br>


  /tags/tag-name/media/recent

  https://api.instagram.com/v1/tags/awesomeevent/media/recent?access_token=ACCESS-TOKEN

  <br><br><br><br><br><br>
api link to popular posts with my client id to access
  https://api.instagram.com/v1/media/popular?client_id=30a5aa19e0a2474b902dfe674681c669

<br><br>
authorization link
  https://instagram.com/oauth/authorize/?client_id=30a5aa19e0a2474b902dfe674681c669&redirect_uri=http://www.thebeardclub.com&response_type=code

<br><br>
code
  28709c6dd30748da9c5b6f006b6b3141
  *taken from redirect http://www.thebeardclub.com/index.php?code=28709c6dd30748da9c5b6f006b6b3141
<br><br>



access token
grabbed using method described here:
http://jelled.com/instagram/access-token

enter url, look for return ------
https://instagram.com/oauth/authorize/?client_id=30a5aa19e0a2474b902dfe674681c669&redirect_uri=http://localhost&response_type=token

  43415997.30a5aa1.d9970cb87c154a77bc5745c030754a80
