WOB
<br><br><br><br>

<% @flickr %>



<% @flickr.each do |photo| %>
<h3>
  <%= link_to photo.title, photo.url, target: "_blank" %>
</h3>





INSTANCE VARIABLES <%= photo.pretty_print_instance_variables %><br>
FEED URL <%= photo.feed_url %><br>
VERSION <%= photo.version %><br>
URL <%= photo.url %><br>
TITLE <%= photo.title %><br>
ETAG <%= photo.etag %><br>
LAST MODIFIED <%= photo.last_modified %><br>
METHODS <%= photo.methods %><br><br><br>

<%= photo.entries.to_s %><br>

<%= photo.entries.to_s.html_safe %><br>



<% link_to photo.title, photo.url, target: "_blank" %>
<% Hash[photo.entries.each_with_index.map { |value, index| [index, value] }] %>
<% photo.entries %>
<% end %>







<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
instagram


<%= @wob %> INSTANCE VARIABLE

<%= @wob %>

  <br><br><br><br><br><br>

  CLIENT ID	30a5aa19e0a2474b902dfe674681c669
  CLIENT SECRET	767b36e92d08450e8b011e64aeceb8fc
  WEBSITE URL	http://www.thebeardclub.com
  REDIRECT URI	http://www.thebeardclub.com


  <br><br><br><br><br><br>


  /tags/tag-name/media/recent

  https://api.instagram.com/v1/tags/awesomeevent/media/recent?access_token=ACCESS-TOKEN

  <br><br><br><br><br><br>
api link to popular posts with my client id to access
  https://api.instagram.com/v1/media/popular?client_id=30a5aa19e0a2474b902dfe674681c669

<br><br>
authorization link
  https://instagram.com/oauth/authorize/?client_id=30a5aa19e0a2474b902dfe674681c669&redirect_uri=http://www.thebeardclub.com&response_type=code

<br><br>
code
  28709c6dd30748da9c5b6f006b6b3141
  *taken from redirect http://www.thebeardclub.com/index.php?code=28709c6dd30748da9c5b6f006b6b3141
<br><br>
