<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag ('favicon.ico') %>

    <title>
      <%= content_for(:title) || "tbcdc" %>
    </title>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    
  </head>


<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">

      <% if current_page?('/') %>
        <a class="blog-nav-item active" href="/">Home</a>
      <% else %>
        <a class="blog-nav-item" href="/">Home</a>
      <% end %>

      <% if current_page?('/about') %>
        <a class="blog-nav-item active" href="about">About</a>
      <% else %>
        <a class="blog-nav-item" href="about">About</a>
      <% end %>

      <% if current_page?('/blog') %>
        <a class="blog-nav-item active" href="blog">Blog</a>
      <% else %>
        <a class="blog-nav-item" href="blog">Blog</a>
      <% end %>

      <% if current_page?('/wob') %>
        <a class="blog-nav-item active" href="wob">Wall of Beard</a>
      <% else %>
        <a class="blog-nav-item" href="wob">Wall of Beard</a>
      <% end %>

      <% if current_page?('/links') %>
        <a class="blog-nav-item active" href="links">Links</a>
      <% else %>
        <a class="blog-nav-item" href="links">Links</a>
      <% end %>

    </nav>
  </div>
</div>



<body>

  <div class="container">

    <div class="blog-header">
      <h1 class="blog-title">TBCdc</h1>
      <p class="lead blog-description">WLFH.</p>
    </div>

    <div class="row">

      <%= yield %>

    </div><!-- /.row -->

  </div><!-- /.container -->

  <footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/docs.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
